@import url(https://fonts.googleapis.com/css2?family=Exo&display=swap);

html {
	font-size: 62.5%;
    font-family: "Exo";
    background-color: rgb(233, 227, 227);
}

header {
    grid-area: header;
    position: relative;
    border-bottom: solid;
    border-bottom-color: rgb(150, 150, 168);
    background-color: rgb(243, 242, 245); 
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
}

header nav {
    color: #000000;
    font-size: 1.5rem;
    display: flex;
    align-items:center;
    flex-direction:row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

header article {
    margin:5px;
}

h1 {
    font-size: 3rem;
    font-weight: bold;
}

h2 {

    font-weight: bold;
    font-size: 2rem;
    font-family: "Exo";
}

p {
    font-size:1.2rem;
}

footer {
    grid-area: footer;
    background-color: rgb(150, 150, 168);
    color:white;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

main.contenedor {
    background-color: rgb(233, 227, 227);
    grid-template-columns: 1fr;
    display: grid;
    grid-template-areas:        
        "header"        
        "noticias"        
        "footer";
    column-gap: 5px;
    row-gap: 5px;
}

section   {
    grid-area: noticias;
}

section article {
    display:grid;
    grid-template-columns: 1fr 4fr 1fr;
    place-items: center;
    
}

img{

    width:80%;
    margin:3%;

}

article {
    border:solid;
    border-color: rgb(150, 150, 168);
    margin-bottom: 8px;
}

.boton1 {
    border:solid;
    border-color: rgb(150, 150, 168);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(240, 248, 252);
    text-align: center;
    width: 150px;
    line-height: 40px;
 }

.boton2 {
    border:solid;
    border-color: rgb(150, 150, 168);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgb(240, 248, 252);
    text-align: center;
    width: 160px;
    line-height: 30px;
 }

 .posicion-absoluta {
    position: absolute;
    top: 8px;
    left: 10px;
    width: 100px;
 }